@import "tailwindcss";

body{
  font-family: "Outfit", "sans-serif";
}

@layer utilities {
  .invert-blend {
    background: rgb(255, 217, 0);
    mix-blend-mode:difference;
    filter: invert(1);
  }
}

@layer components {
  .text-transition {
    @apply p-1.5 rounded-tl-2xl border-b-2 border-transparent 
           hover:border-emerald-100 hover:text-emerald-100 
           transition-colors duration-300;
  }
}
